.detail {
  .detail_icon {
    width: 100%;
    overflow: hidden;
    height: 40px;
    position: fixed;
    background-color: #f7f6f6;
    bottom: 0px;
    display: flex;
    .left {
      height: 100%;

      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
    }
    .right {
      background-color: aqua;
      height: 100%;
      flex: 9;
    }
  }
}
