.detail .content {
  overflow-x: hidden;
  margin: 0;
  padding-bottom: 90px;
}
.detail .content figure .content-image {
  width: 100%;
  height: 120px;
}
.detail .content p {
  margin: 0 auto;
}
.detail .content .img-place-holder {
  overflow: hidden;
}
.detail .content .img-place-holder img {
  margin: 0;
  width: 100%;
}
.detail .content .question-title {
  text-align: center;
  margin-top: 10px;
}
.detail .content .meta .avatar {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}
.detail .detail_icon {
  width: 100%;
  overflow: hidden;
  height: 40px;
  position: fixed;
  background-color: #f7f6f6;
  bottom: 0px;
  display: flex;
}
.detail .detail_icon .left {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.detail .detail_icon .left .antd-mobile-icon:active {
  color: #19adf5;
}
.detail .detail_icon .right {
  height: 100%;
  flex: 9;
  font-size: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.detail .detail_icon .right .left_span {
  display: inline-block;
}
.detail .detail_icon .right .left_span .adm-badge-wrapper .adm-badge-fixed {
  right: 1px;
  top: 3px;
}
